*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.title{
    margin-left: .1em;
    font-weight: bolder;
    letter-spacing: .3em;
    color: white;
    text-transform: uppercase;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .23em;
    background-color: black;
    
}
.Dontshow,ul,li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: .7em;
}
.Dontshow,ul,li,a{
    text-decoration: none;
    color: white;
    padding: .3em;
    text-transform: uppercase;
    font-weight: lighter;
}



@media screen and (max-width:600px) {
    .navbar{
        padding: .4em;
    } 
    .icon{
        color: white;
    }
    .mymenu{
        display: contents;
    }
   
 
  
  
}